<h1>This is a list of projects!</h1>

<% @projects.each do |project| %>

  <p class="color<%= project.hex %>"><%= project.name %></p>
  <hr />

  <% project.timeblocks.each do |timeblock| %>
    <p>Start: <span class="timestring"><%= timeblock.start %></span></p>
    <p>Stop: <span class="timestring"><%= timeblock.end %></span></p>
    <p>Description: <%= timeblock.description %></p>
    <hr />
  <% end  %>

<% end %>


