<p style="color: <%= @project.hex %>"><%= @project.name %></p>

<% @project.timeblocks.each do |timeblock| %>
  <p>Start: <span class="timestring"><%= timeblock.start %></span></p>
  <p>Stop: <span class="timestring"><%= timeblock.end %></span></p>
  <p>Description: <%= timeblock.description %></p>
  <hr />
<% end  %>


