<%= form_for @timeblock, url: {action: "create"} do |f| %>
<div class="posts-item">
  <div class="posts-thumbnail v1">
    Friends & Strangers
  </div>

  <div class="posts-item-content">
    <div class="posts-item-header">
      <div class="posts-item-title-wrapper">
        <h2><span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></h2>
      </div>
    </div>
  </div>

</div>


<div class="posts-item">

  <div class="posts-thumbnail v1">
    <%= f.collection_select :project_id, Project.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="posts-item-content">

    <div class="posts-item-header">
      <div class="posts-item-title-wrapper">
        <h3 class="posts-item-title">
          What are you working on right now?
        </h3>
      </div>
    </div>

    <div class="posts-item-body">
      <div class="posts-item-excerpt">
        <%= f.text_area :description, placeholder: 'Describe what you\'re doing...', class: 'textarea is-primary is-medium' %>
      </div>
    </div>

    <div class="posts-item-footer">
      <%= f.hidden_field :start, data: {startinput: :disabled}  %>
      <%= f.submit "Start clock", class: 'button is-primary', data: {clock: :start} %>
      <%= f.submit "Stop and Submit", class: 'button is-warning', data: {clock: :stop} %>
    </div>
    <% end %>

  </div>
</div>


