<!DOCTYPE html>
<html>
  <head>
    <title>Klok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <%= render 'nav/index', locals: { projects: @projects } %>
      <div class="home-list">
        <div class="home-list-main">
          <div class="posts-daily">
            <div class="posts-day">
              <div class="posts-day-heading-wrapper">
                <h4 class="post-day-heading">
                  <span class="posts-day-heading-date text-right">
                    <%= @date.strftime("%m/%d") %>
                  </span>
                  <span class="posts-day-heading-day">
                    <%= @date.strftime("%A") %>
                  </span>
                </h4>
              </div>

              <div class="posts-list">
                <div class="posts-list-content">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
