<!DOCTYPE html>
<html>
  <head>
    <title>Klok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <%= render 'nav/index', locals: { projects: @projects } %>
      <div class="home-list">
        <div class="home-list-main">
          <div class="posts-daily">
            <div class="posts-day">
              <div class="posts-list">
                <div class="posts-list-content">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
